name: Build with MSVC

on:
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]
  workflow_dispatch:

jobs:
  build-msvc:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.5.4'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2019_64'
        modules: 'qtquick'
        cache: true
        
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64
        
    - name: Configure CMake
      run: |
        cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="${env:Qt6_DIR}"
        
    - name: Build
      run: cmake --build build --config Release
      
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: appPlayground-msvc
        path: |
          build/appPlayground.exe
          build/*.dll
